---
layout: default
title: danvk.org
---

<div id="home">
  <section id="main_content" class="inner">
    <p>I'm Dan, a Software Engineer at Mt. Sinai's hammerlab, formerly at Google.</p>
    <p>I use computers to solve problems.</p>

    <div id="blog">
      {% for post in site.posts %}
      <div class="row">
        <div class="col-sm-3">
          <div>
            <span class="post-title">&nbsp;</span> <!-- force vert align w/ title -->
            {{ post.date | date_to_long_string }}
          </div>
          {% if post.time %}
          <div class="post-time">@ {{ post.time }}</div>
          {% endif %}
        </div>
        <div class="col-sm-9">
          <div class="post-title"><a href="{{post.url}}">{{ post.title }}</a></div>
          <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% elsif post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
          {% else %}
            {{ post.content | truncatewords:50 | strip_html }}
          {% endif %}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>

    <p>See <a href="/blog.html">all blog posts</a>, or content from my <a href="#old-blog">old blog</a>.</p>

    <h3>Projects</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="http://www.dygraphs.com/">dygraphs</a></h3>
          </div>
          <div class="panel-body">
            <a href="http://www.dygraphs.com/"><img src="/images/dygraphs.png" width=196 height=128 border=0></a>
            <p>A fast, flexible open source JavaScript charting library for dense data sets.</p>
            <p><a href="http://blog.dygraphs.com/">dygraphs blog</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="http://www.comparea.org/">Comparea</a></h3>
          </div>
          <div class="panel-body">
            <a href="http://www.comparea.org/"><img src="/images/comparea-alaska.png" width=189 height=128 border=0></a>
            <p>Easy area comparisons between geographic features like countries, states, cities and parks.</p>
            <p><a href="http://www.danvk.org/wp/2014-08-13/introducing-comparea/">blog post</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="http://www.oldsf.org/">OldSF</a></h3>
          </div>
          <div class="panel-body">
            <a href="http://www.oldsf.org/"><img src="/images/oldsf.jpg" width=178 height=128 border=0></a>
            <p>Historical photographs of San Francisco, dated, geocoded, mapped and visualized.</p>
            <p><a href="http://www.nytimes.com/2011/09/04/us/04bchistory.html">NY Times coverage</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="http://www.github.com/danvk/webdiff">git webdiff</a></h3>
          </div>
          <div class="panel-body">
            <a href="http://www.github.com/danvk/webdiff"><img src="/images/webdiff.png" width=196 height=128 border=0></a>
            <p>Web-based git difftool with syntax highlighting, image support and intra-line diffs.</p>
            <p><a href="http://www.danvk.org/wp/2014-07-03/introducing-git-webdiff/">blog post</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="https://chrome.google.com/webstore/detail/github-syntax/klamohcglknfmhpjifcpckncknpbhkol"></a>github-syntax</h3>
          </div>
          <div class="panel-body">
            <a href="https://chrome.google.com/webstore/detail/github-syntax/klamohcglknfmhpjifcpckncknpbhkol"><img src="/images/github-syntax.png" width=190 height=128 border=0></a>
            <p>
              Chrome extension which adds syntax highlighting to github split diffs.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="http://www.danvk.org/wp/2012-05-17/puzzle-crosswords-for-google/">Puzzle+</a></h3>
          </div>
          <div class="panel-body">
            <a href="http://www.danvk.org/wp/2012-05-17/puzzle-crosswords-for-google/"><img src="/images/puzzleplus.png" width=200 height=128 border=0></a>
            <p>Collaborate on crossword puzzles in a Google+ Hangouts video chat.</p>
          </div>
        </div>
      </div>

    </div>

    <h3 id="old-blog">Blog Posts</h3>

    <p>See <a href="/blog.html">all blog posts</a>, or highlights from my <a href="http://www.danvk.org/wp/">old blog</a> (2006&ndash;2014):</p>

    <ul>
      <li>{{'2014-01-25' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2014-01-25/what-up-with-boggle/">boggle survey</a>
      <li>{{'2013-02-23' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2013-02-23/how-many-living-people-were-born-in-the-1800s/">How many living people were born in the 1800s?</a>
      <li>{{'2013-03-03' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2013-03-03/keep-your-html-in-your-html/">Keep your HTML in your HTML</a>
      <li>{{'2013-02-09' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2013-02-09/finding-pictures-in-pictures/">Finding Pictures in Pictures</a>
      <li>{{'2013-01-21' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2013-01-21/developing-the-oldsf-slideshow/">Developing the OldSF Slideshow</a>
      <li>{{'2012-05-21' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2012-05-21/reading-clarisworks-3-documents-in-mac-os-x/">Reading ClarisWorks 3 Documents in Mac OS X</a>
      <li>{{'2012-05-14' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2012-05-14/horizontal-and-vertical-centering-with-css/">Horizontal and Vertical Centering with CSS</a>
      <li>{{'2012-01-20' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2012-01-20/accurate-hexadecimal-to-decimal-conversion-in-javascript/">Accurate hexadecimal to decimal conversion in JavaScript</a>
      <li>{{'2012-01-14' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2012-01-14/whats-going-on-with-twin-rates/">What’s Going on with Twin Rates?</a>
      <li>{{'2011-12-19' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2011-12-19/takeaways-stanfords-machine-learning-class/">Takeaways from Stanford’s Machine Learning Class</a>
      <li>{{'2009-12-26' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2009-12-26/crossword-word-frequency/">Crossword Word Frequency</a>
      <li>{{'2009-12-04' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2009-12-04/a-new-view-on-minards-napoleon/">A new view on Minard’s Napoleon</a>
      <li>{{'2009-02-22' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2009-02-22/why-you-invest-when-the-market-goes-down/">Why You Invest When the Market Goes Down</a>
      <li>{{'2008-12-31' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2008-12-31/a-minus-times-a-minus/">A Minus Times a Minus</a>
      <li>{{'2008-12-02' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2008-12-02/now-and-then/">Now and Then</a>
      <li>{{'2007-09-05' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2007-09-05/a-sculptural-salute/">A Sculptural Salute</a>
      <li>{{'2007-05-24' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2007-05-24/beals-conjecture/">Beal’s Conjecture</a>
      <li>{{'2007-04-06' | date_to_string }} &raquo; <a href="http://www.danvk.org/wp/2007-04-06/nebulabrot/">Nebulabrot</a>
    </ul>

    <h3>Other Creations</h3>

    <h4>Libraries/Developer Tools</h4>
    <ul>
      <li><a href="https://github.com/danvk/codediff.js">codediff.js</a>, diffing library which backs github-syntax and git webdiff
      <li><a href="https://github.com/danvk/pyjsonselect">pyjsonselect</a>, a fully-conformant implementation of <a href="http://jsonselect.org/">JSONSelect</a> in Python.
      <li><a href="https://github.com/danvk/reactjs-prop-validation">ReactJS prop validation</a>, a library to enforce APIs on ReactJS components.
      <li><a href="https://github.com/bslatkin/dpxdt">dpxdt</a> (contributor), a screenshot capture and diff tool.
      <li><a href="https://github.com/danvk/localturk">localturk</a>, an implementation of the Mechanical Turk API which runs on your own machine. Discussed in this <a href="http://www.danvk.org/wp/2013-04-20/generating-training-data/">blog post</a>
    </ul>

    <h4>Google Projects</h4>
    <ul>
      <li><a href="http://www.danvk.org/wp/2010-06-28/sunrisesunset-onebox/">Sunrise/Sunset Onebox</a>: <a href="http://www.google.com/search?q=sunset+nyc">[sunset nyc]</a>
      <li><a href="http://www.danvk.org/wp/2014-06-14/googles-new-finance-onebox/">Finance Onebox</a>: <a href="http://www.google.com/search?q=goog">[goog]</a>
      <li><a href="http://www.danvk.org/wp/2013-08-18/statistics-knowledge-panel/">Statistics Knowledge Panel</a>: <a href="https://www.google.com/search?q=population+france">[population france]</a>
      <li><a href="http://www.danvk.org/wp/2014-02-24/fact-comparisons/">Fact Comparisons</a>: <a href="https://www.google.com/search?q=distance+from+the+sun+to+mars">[distance from the sun to mars]</a>
      <li><a href="http://techcrunch.com/2013/03/19/google-march-madness-bracket/">March Madness Onebox</a>
      <li>Entity Comparisons: <a href="https://www.google.com/search?q=olive+oil+vs+margarine">[olive oil vs margarine]</a>
      <li><a href="http://www.google.com/trends/correlate">Google Correlate</a>, <a href="http://googleblog.blogspot.com/2011/05/mining-patterns-in-search-data-with.html">blog post</a>
      <li><a href="http://www.google.org/flutrends/us/#US">Google Flu Trends</a>, international launch <a href="http://googleblog.blogspot.com/2009/10/google-flu-trends-expands-to-16.html">blog post</a>
    </ul>

    <h4>Papers</h4>
    <ul>
      <li><a href="http://research.google.com/pubs/pub41694.html">Nearest Neighbor Search in Google Correlate</a> (2013)
      <li><a href="http://www.google.com/trends/correlate/whitepaper.pdf">Google Correlate Whitepaper</a> (2011)
    </ul>

    <h4>Older/Defunct</h4>
    <ul>
      <li>Repeatables iOS app
      <li><a href="http://ajaxian.com/archives/dragtable-drag-and-drop-reorderable-columns-for-an-html-table">dragtable</a>, which lives on in a jQuery <a href="http://akottr.github.io/dragtable/">plugin</a>.
      <li><a href="https://github.com/danvk/lonely">lonely hangouts</a>, <a href="http://www.danvk.org/wp/2012-06-25/lonely-hangouts/">blog post</a>
    </ul>

    <h2 id="contact">Contact</h2>
    <p>Email: danvdk [at] gmail</p>
    <p>Twitter: <a href="https://github.com/danvk">@danvdk</a></p>
    <p>github: <a href="https://github.com/danvk">danvk</a></p>
    <p>StackOverflow: <a href="stackoverflow.com/users/388951/danvk">danvk</a></p>
    <p>Facebook: <a href="https://www.facebook.com/danvdk">danvdk</a></p>
    <p>Google+: <a href="https://plus.google.com/+DanVanderkam">+DanVanderkam</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/profile/view?id=340204755">340204755</a></p>

  </section>
</div>
