---
layout: default
title: danvk.org
---

<div id="home">
  <section id="main_content" class="inner">
    <p>I'm Dan, a Software Engineer at Mt. Sinai's <a
    href="http://hammerlab.org">hammerlab</a>, formerly at Google.</p>
    <p>I use computers to solve problems.</p>

    <div id="blog">
      <h3>Recent Blog Posts</h3>
      {% for post in site.posts limit: 5 %}
      <div class="row blog-post">
        <div class="col-sm-3 col-md-2">
          <div class="post-date">
            <span class="post-spacer post-title">&nbsp;</span> <!-- force vert align w/ title -->
            {{ post.date | date_to_long_string }}
          </div>
          {% if post.time %}
          <div class="post-time">@ {{ post.time }}</div>
          {% else %}
          <div class="post-time">@ {{ post.date | date: "%I:%M %p %Z"}}</div>
          {% endif %}
        </div>
        <div class="col-sm-9 col-md-10">
          <div class="post-title"><a href="{{post.url}}">{{ post.title }}</a></div>
          <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% elsif post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
          {% else %}
            {{ post.content | truncatewords:50 | strip_html }}
          {% endif %}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>

    <p>See <a href="/blog.html">all blog posts</a>, or content from my <a href="/blog.html#old-blog">old blog</a>.</p>

    <h3>Projects</h3>

    <div class="row">

      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="http://www.oldnyc.org/">OldNYC</a></h3>
          </div>
          <div class="panel-body">
            <a href="http://www.oldnyc.org/"><img src="/images/oldnyc.jpg" width=162 height=128 border=0></a>
            <p>Mapping historical photos from the NYPL.</p>
            <p>
              Read more in
              <a href="http://gothamist.com/2015/05/26/old_nyc_photo_map.php">Gothamist</a>, 
              <a href="http://www.theguardian.com/us-news/2015/may/21/new-york-historical-photo-archive-lets-residents-track-changes-to-a-city-in-sepia">The Guardian</a> and
              <a href="http://cityroom.blogs.nytimes.com/2015/05/26/new-york-today-new-views-of-the-past/?_r=0">The New York Times</a>.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="http://www.dygraphs.com/">dygraphs</a></h3>
          </div>
          <div class="panel-body">
            <a href="http://www.dygraphs.com/"><img src="/images/dygraphs.png" width=196 height=128 border=0></a>
            <p>A fast, flexible open source JavaScript charting library for dense data sets.</p>
            <p><a href="http://blog.dygraphs.com/">dygraphs blog</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="http://www.comparea.org/">Comparea</a></h3>
          </div>
          <div class="panel-body">
            <a href="http://www.comparea.org/"><img src="/images/comparea-alaska.png" width=189 height=128 border=0></a>
            <p>Easy area comparisons between geographic features like countries, states, cities and parks.</p>
            <p><a href="http://www.danvk.org/wp/2014-08-13/introducing-comparea/">blog post</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="http://www.oldsf.org/">OldSF</a></h3>
          </div>
          <div class="panel-body">
            <a href="http://www.oldsf.org/"><img src="/images/oldsf.jpg" width=178 height=128 border=0></a>
            <p>Historical photographs of San Francisco, dated, geocoded, mapped and visualized.</p>
            <p><a href="http://www.nytimes.com/2011/09/04/us/04bchistory.html">NY Times coverage</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="http://www.github.com/danvk/webdiff">git webdiff</a></h3>
          </div>
          <div class="panel-body">
            <a href="http://www.github.com/danvk/webdiff"><img src="/images/webdiff.png" width=196 height=128 border=0></a>
            <p>Web-based git difftool with syntax highlighting, image support and intra-line diffs.</p>
            <p><a href="http://www.danvk.org/wp/2014-07-03/introducing-git-webdiff/">blog post</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title"><a href="https://puzzleplus.github.io/">Puzzle+</a></h3>
          </div>
          <div class="panel-body">
            <a href="https://puzzleplus.github.io/"><img src="/images/puzzleplus.png" width=200 height=128 border=0></a>
            <p>Collaborate on crossword puzzles in a Google+ Hangouts video chat.</p>
          </div>
        </div>
      </div>

    </div>

    <h3>Other Creations</h3>

    <h4>Libraries/Developer Tools</h4>
    <ul>
      <li><a href="https://github.com/danvk/codediff.js">codediff.js</a>, diffing library which backs github-syntax and git webdiff
      <li><a href="https://github.com/danvk/pyjsonselect">pyjsonselect</a>, a fully-conformant implementation of <a href="http://jsonselect.org/">JSONSelect</a> in Python.
      <li><a href="https://github.com/danvk/reactjs-prop-validation">ReactJS prop validation</a>, a library to enforce APIs on ReactJS components.
      <li><a href="https://github.com/bslatkin/dpxdt">dpxdt</a> (contributor), a screenshot capture and diff tool.
      <li><a href="https://github.com/danvk/localturk">localturk</a>, an implementation of the Mechanical Turk API which runs on your own machine. Discussed in this <a href="http://www.danvk.org/wp/2013-04-20/generating-training-data/">blog post</a>
    </ul>

    <h4>Google Projects</h4>
    <ul>
      <li><a href="http://www.danvk.org/wp/2010-06-28/sunrisesunset-onebox/">Sunrise/Sunset Onebox</a>: <a href="http://www.google.com/search?q=sunset+nyc">[sunset nyc]</a>
      <li><a href="http://www.danvk.org/wp/2014-06-14/googles-new-finance-onebox/">Finance Onebox</a>: <a href="http://www.google.com/search?q=goog">[goog]</a>
      <li><a href="http://www.danvk.org/wp/2013-08-18/statistics-knowledge-panel/">Statistics Knowledge Panel</a>: <a href="https://www.google.com/search?q=population+france">[population france]</a>
      <li><a href="http://www.danvk.org/wp/2014-02-24/fact-comparisons/">Fact Comparisons</a>: <a href="https://www.google.com/search?q=distance+from+the+sun+to+mars">[distance from the sun to mars]</a>
      <li><a href="http://techcrunch.com/2013/03/19/google-march-madness-bracket/">March Madness Onebox</a>
      <li>Entity Comparisons: <a href="https://www.google.com/search?q=olive+oil+vs+margarine">[olive oil vs margarine]</a>
      <li><a href="http://www.google.com/trends/correlate">Google Correlate</a>, <a href="http://googleblog.blogspot.com/2011/05/mining-patterns-in-search-data-with.html">blog post</a>
      <li><a href="http://www.google.org/flutrends/us/#US">Google Flu Trends</a>, international launch <a href="http://googleblog.blogspot.com/2009/10/google-flu-trends-expands-to-16.html">blog post</a>
    </ul>

    <h4>Papers</h4>
    <ul>
      <li><a href="http://research.google.com/pubs/pub41694.html">Nearest Neighbor Search in Google Correlate</a> (2013)
      <li><a href="http://www.google.com/trends/correlate/whitepaper.pdf">Google Correlate Whitepaper</a> (2011)
    </ul>

    <h4>Older/Defunct</h4>
    <ul>
      <li>Repeatables iOS app
      <li><a href="http://ajaxian.com/archives/dragtable-drag-and-drop-reorderable-columns-for-an-html-table">dragtable</a>, which lives on in a jQuery <a href="http://akottr.github.io/dragtable/">plugin</a>.
      <li><a href="https://github.com/danvk/lonely">lonely hangouts</a> (<a href="http://www.danvk.org/wp/2012-06-25/lonely-hangouts/">blog post</a>)
    </ul>

    <h2 id="contact">Contact</h2>
    <p>Email: danvdk [at] gmail</p>
    <p>Twitter: <a href="https://twitter.com/danvdk">@danvdk</a></p>
    <p>github: <a href="https://github.com/danvk">danvk</a></p>
    <p>StackOverflow: <a href="stackoverflow.com/users/388951/danvk">danvk</a></p>
    <p>Facebook: <a href="https://www.facebook.com/danvdk">danvdk</a></p>
    <p>Google+: <a href="https://plus.google.com/+DanVanderkam">+DanVanderkam</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/profile/view?id=340204755">340204755</a></p>

    <a href="/atom.xml"><img src="/images/rss.png" width=32 height=31 border=0 alt="Subscribe to RSS feed"> Subscribe!</a>

    <div style="height: 200px;">&nbsp;</div> <!-- spacer -->

  </section>
</div>
