.imaged-links {
    max-width: 1000px;
}
.imaged-links li {
    display: inline-block;
    width: 210px;
    vertical-align: top;
    padding: 0 10px;
}

.imaged-links li img, .imaged-links li a {
    display: block;
}

.imaged-links li p a {
    font-size: small
}

#post {
  max-width: 800px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

.date {
  margin: 1em 1em 0em 0;
  padding: 0;
  color: #727272;
  font-weight: 300;
  font-size: 16px;
}
.post-title {
  margin-top: 0;
}
