.imaged-links {
    max-width: 1000px;
}
.imaged-links li {
    display: inline-block;
    width: 210px;
    vertical-align: top;
    padding: 0 10px;
}

.imaged-links li img, .imaged-links li a {
    display: block;
}

.imaged-links li p a {
    font-size: small
}

#post {
  max-width: 800px;
}
