.imaged-links {
    max-width: 1000px;
}
.imaged-links li {
    display: inline-block;
    width: 210px;
    vertical-align: top;
    padding: 0 10px;
}

.imaged-links li img, .imaged-links li a {
    display: block;
}

.imaged-links li p a {
    font-size: small
}

#post {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: medium;
  line-height: 1.8;
}

.post-page {
  max-width: 700px;
  margin: 0 auto;  /* center when max-width applies */
}

.post-page .date {
  margin: 1em 1em 0em 0;
  padding: 0;
  color: #727272;
  font-weight: 300;
  font-size: 16px;
}
.post-page .post-title {
  margin-top: 0;
  margin-bottom: 20px;
}
.please {
  margin-top: 100px;
  font-style: italic;
}

/* bootstrap templates */
/* these give enough clearance to cover the top nav */
body {
  padding-top: 50px;
}
h3[id] {
  padding-top: 50px;
  margin-top: -20px;
}

.panel img {
  float: left;
  margin-right: 1em;
}

#blog .post-title {
  font-size: large;
  font-weight: bold;
}
#blog .post-time {
  font-size: x-small;
}
@media (min-width: 768px) {
  #blog .col-sm-3 {
    text-align: right;
  }
}
@media (max-width: 768px) {
  .post-spacer {
    display: none;
  }
  .post-date {
    display: inline-block;
  }
  .post-time {
    display: inline-block;
  }
  .blog-post {
    margin-bottom: 25px;
  }
}

/* code & syntax highlighting */
code {
  background-color: rgba(0,0,0,0.04);
  color: black;
  font-weight: normal;
}

/* for centering images */
.center {
  text-align: center;
  margin: 1em auto;
}

blockquote {
  font-size: small;
}
